
header {
    text-align: center;
    background-color: rgb(185, 203, 235);
    display: flex;
    font-family: Annie Use Your Telescope;
    justify-content: space-between;
}

nav a{
    color: rgb(117, 135, 172);
    padding: 10px 15px;
    text-decoration: none;
    
}
.banner{
    
    padding: 10px 20px;
}

.home{
    background-image: url();
    height: 800px; 
    background-size: 1000px; 
    padding: top 5px;
}

.deschome{
    width:40%;
    font-size:20px;
    margin-left:20px;
    & h3{
          color: aquamarine;
    }
    & p{
        color:aqua
        
    }
}
nav a:hover{
    background-color: rgb(209, 221, 253);
    padding: 10px 20px;
    transition: 0.5s;
}
nav{
    padding: 10px 0px;
}
body{
    margin: 0px;
}