header{
    font-size: larger;
    background-color: rgb(250, 244, 227);
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
nav a{
    color: rgb(207, 44, 44);
    text-decoration: none;
    gap: 25px;
    padding: 20px;
}
.banner{
    margin: 0px;
    padding: 10px 20px;
}

.home{
    background-image: url("background home.png");
    height: 100vh; 
    background-size: cover; 
    background-position: center 90%;
    background-repeat: no-repeat;
    margin: 0px;
    
}

.deschome{
    width:40%;
    font-size:20px;
    margin-left:20px;
    & h1{
        color: rgb(63, 54, 34);
        font-family: Castoro Titling;
        margin: 0px;
        padding: 15px ;
        font-size: 300%;
        white-space: nowrap;
    }  
    & p{
        color:rgb(71, 77, 56);
        font-family: Josefin Sans;
        padding: 0px 15px;
    }
}
.logo img{
    width:150px;
    padding: 5px 30px ;
}

nav a:hover{
    color: rgb(116, 146, 91);
    background-color: rgb(231, 226, 209);
    border-radius: 30px 30px 30px 0px;
    padding:15px 20px;
    transition: 0.5s;
}
nav{
    padding: 10px 0px;
}
.about{
    height: 800px;
    background-color: antiquewhite;
}
.contabout{
    background-color: aquamarine;
    width: 50%;
    margin-left: 25%;
    height: 100%;
    padding: 50px 20px
}
body{
    margin: 0px;
}